.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  background-color: rgb(255, 115, 0);
  width: 100%;
  padding: 20px;
  z-index: 100;
}

.navbar {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}

.navbar a {
  font-size: larger;
  text-decoration: none;
  color: white;
  margin-right: 25px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar>a:global.active {
  text-decoration: underline;
}

.header .left {
  display: flex;
  justify-content: flex-start;
  font-size: larger;
  text-decoration: none;
  color: white;
  margin-right: 5px;
  top: 0px;
  right: 30px;
}

.header .right {
  display: flex;
  justify-content: flex-end;
  font-size: larger;
  text-decoration: none;
  color: white;
  margin-right: 5px;
  top: 0;
  right: 30px;
}

.navbar a.profile {
color: #480d81;
}